.dashboard {
  display: flex;
  height: 100vh;
}

.panel {
  padding: 20px;
  overflow-y: auto;
}

.structure-panel {
  flex: 1;
  border-right: 1px solid #ccc;
  background: #f7f7f7;
}

.main-panel {
  flex: 2;
  border-right: 1px solid #ccc;
  background: #fff;
}

.suggestions-panel {
  flex: 1;
  background: #f7f7f7;
}